{% extends 'layout/app.twig' %}

{% block title %}About Two Families{% endblock%}

{% block content %}
	
	The family members are: 
	<ul>
		{% for user in users %}

			<li>{{ user.username }}</li>

		{% endfor %}
	</ul>

{% endblock %}